body{
    background-color: #1B1B1B;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    width: 1071px;
    font-family: 'Annie Use Your Telescope', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    height: 1169px;
    
  }
  @media(max-width:800px){
    body{
        background-color: #1B1B1B;
    }
  }
  @media(max-width:500px){
    body{
        background-color: #1B1B1B;
        width: 320px;
        height: 1258px;
    }
}
  .cabecalho{
    margin-top: -1px;
    display: flex;
    position: fixed;
    width: 1071px;
    height: 150px;
    background-color:#1B1B1B;
  }
  
  .simbolo{
    background-color: #38B6FF;
    width: 53px;
    height: 46px;
    text-align: center;
    padding: 19px 16px 14px 16px;
    border-radius: 50%;
    margin-top: 36px;
    position: absolute;
    margin-left: 54px;
    color: white;
    font-size: 30px;
    border: 3px solid rgb(33, 77, 141);
    transition: .5s;
  }
  .simbolo a{
    text-decoration: none;
    color: white;
  }
  .simbolo a:hover{
    cursor: pointer;
  }
  .simbolo:hover{
    scale: 1.3;

  }
  @media(max-width:800px){
    .simbolo{
        display: none;
        color: black;
        background-color: black;
    }
  }
  .links{
    background-color: white;
    margin-left: 495px;
    
  }
  .links ul{
    display: flex;
    height: 8px;
    align-items: center;
    position: absolute;
    margin-right: 74px;
    margin-top: 69px;
  
  }
  @media(max-width:800px){
    .links{
        margin-left: 33px;
    }
  }
  .links li{
    list-style: none;
  }
  .links ul li a{
    text-decoration-line: none;
    padding: 0px 40px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(255, 255, 255);
    transition: .5s;
  }
  .links ul li a:hover{
    cursor: pointer;
    color: #5abff9;
  }

  .form{
    margin: 300px;
    margin-left: -226px;
    height: 80px;
  }
  .contatos-form input{
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0px;
  }
  @media(max-width:800px){
    .form{
        margin-left: -3px;
        
      }
  }
  @media(max-width:500px){
    main{
        width: 320px;
    }
    .cabecalho{
        width: 375px;
        height: 92px;
        left: 0px;
        
    }
    .links{
        margin-left: -12px;
        margin-top: -12px;
    }
}
  @media(max-width:500px){
    .links{
        height: 135px;
    }
    ul{
        margin-left: -25px;
        padding-left: 80px;
    }
    .links ul li a{
        padding: 0px 15px;
        font-size: 15px;
        
    }
}
  .contatos-form input[type=text]{
    margin: auto;
    height: 102px;
    margin-right: -54px;

    
  }
  label{
    color:#38B6FF;
    font-family: 'Roboto Mono', monospace;
  }
  button{
    background-color: #38B6FF;
    font-family: 'Roboto Mono', monospace;
    color: white;
    width: 100px;
    height: 40px;
    border: 1px solid #38B6FF;
    border-radius: 12px;
    padding: 13px;
    font-size: 15px;
    margin-top: 20px;
  }
  .icon{
    
    position: fixed;
    display: flex;
    margin-top: 700px;
    width: 1070px;
    justify-content: center;
    gap: 190px;
    height: 100px;
    margin-bottom: 23px;
    

  }
  .icon i{
    font-size: 30px;
    background: #100f0f;
    width: 80px;
    height: 46px;
    color: #38b6ff;
    text-align: center;
    padding-top: 15px;
    border-radius: 50% 50%;
    transition: .5s;
    
  }
  .icon i:hover{
    cursor: pointer;
    scale: 1.3;
  }
  .iconsContatos{
    display: flex;
    margin-top: 763px;
    position: fixed;
    width: 1070px;
    gap: 107px;
    margin-left: 18px;
    
  }
  
  .icon-contato h1{
    color: white;
    font-size: 20px;
    margin-top: 23px;
    text-align: center;
    
  }
  .icon-contato p{
    color: white;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  
  }
  .tel{
    margin-left: -19px;
  }
  .email{
    margin-left: -3px;
  }
  .git{
    margin-left: 16px;
  }
  .linkedin{
    margin-left: 20px;
  }
  .git a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  .linkedin a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  .linkedin a:hover{
    cursor: pointer;
  }
  .git a:hover{
    cursor: pointer;
  }
  @media(max-width:800px){
    .icon{
      display: inline-flex;
      margin-left: -223px;
      gap: 75px;
      margin-top: 757px;
      
    }
    .iconsContatos{
      display: inline-flex;
      gap: 39px;
      margin-top: 815px;
    }
    .iconsContatos h1{
      font-size: 14px;
      font-family: 'Roboto Mono', monospace;

    }
    .iconsContatos p{
      font-size: 10px;
      font-family: 'Roboto Mono', monospace;
    }
    .iconsContatos a{
      font-size: 12px;
      font-family: 'Roboto Mono', monospace;
    }
    .tel{
      margin-left: 13px;
    }
    .email{
      margin-left: -3px;
    }
    .git {
      margin-left: 16px;
    }
    .linkedin {
      margin-left: 36px;
    }
  }
  @media(max-width:500px){
    .form{
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 180px;
    }
    .contatos-form{
      width: 300px;
      margin-left: 32px;
      margin-top: -41px;
    }
    .contatos-form input{
      width: 300px;
      
    }
    #message{
      margin-top: 8px;
    }
    label{
      font-size: 13px;
    }
    button{
      font-size: 12px;
      padding: 6px;
      height: 30px;
      width: 80px;
    }
    .icon{
      margin-top: 465px;
      width: 320px;
      margin-left: 0px;
      display: block;
      position: fixed;
      
    }
    .icon i{
      background: none;
    }
    .iconsContatos{
      margin-top: 459px;
      display: block;
      width: 82px;
      margin-left: 0px;
      height: 305px;
      position: fixed;
      
    }
    .email{
      text-align-last: justify;
      margin-left: 113px;
    }
    .email h1{
      font-size: 13px;
      width: 100px;
    }
    .email p{
      font-size: 12px;
    }
    .tel{
      text-align-last: left;
      margin-left: 113px;
    }
    .tel h1{
      font-size: 13px;
      width: 120px;
    }
    .tel p{
      font-size: 12px;
      font-family: 'Roboto Mono', monospace;
      color: white;
      text-decoration-line: none;
      text-decoration: none;
      outline: none;
      width: 120px;

    }
    .linkedin{
      text-align-last: left;
      margin-left: 113px;
    }
    .linkedin h1{
      font-size: 13px;
    }
    .git{
      text-align-last: left;
      margin-left: 113px;
    }
    .git h1{
      font-size: 13px;
    }
  }
      